<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="../css/main.css" rel="stylesheet">
	</head>
	<body>
		<nav>
    		<ul class="nav">
        		<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
	        	<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        		<li class="nav-item"><a class="nav-link" href="/resume">Resume</a></li>
				<li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
				<li class="nav-item"><a class="nav-link" href="/blog">Blog</a>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div>
		<footer>
			<div class="row">
    		<ul class="nav">
        		<div class="col-sm-4"><li class="nav-item"><a class="nav-link" href="mailto:landon.creel@icloud.com">email</a></li></div>
				<div class="col-sm-4"><li class="nav-item"><a class="nav-link" href="https://github.com/lwcreel">GitHub</a></li></div>
				<div class="col-sm-4"><li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/landon-creel-149859177">LinkedIn</a></li></div>
			</ul>
			</div>
		</footer>
	</body>
</html>
